.specEditor * {
  margin:0;
  padding: 0;
}

.specEditor {
  width: 1000px;
  display: block;
  overflow: auto;
}

textarea:focus{
  outline:none;
}

textarea, .result {
  width: 350px;
  height: 110px;
  resize: none;
  border: 2px solid #e4da14;
  border-radius: 4px;
  font-size: 1.5em;
}

textarea {
  float: left;
}

div.result {
  margin-left: 5px;
  float: left;
}

div.button {
  margin-left: 5px;
  margin-top: 84px;
  float: left;
}

button {
  background: #9f9e96;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

/* div.specEditor {
border: 2px solid black;;
} */

html body h1 {
  margin-bottom: 10px;
}
